<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">


    <test name="Post a status message" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testcases.FbPostTestCases"/>
        </classes>
    </test>


</suite> <!-- Suite -->
